a:hover {
  text-decoration: none !important;
}

body {
  padding-top: 5rem;
}

main.container {
  margin-left: auto !important;
  margin-right: auto !important;
  padding-left: 0 !important;
  padding-right: 0 !important;
  width: 100%;
  max-width: 960px;
}

p {
  color: #222;
  font-size: 90%;
  font-weight: 200;
 }

small { font-size: 70%; }

#events {
  margin-bottom: 10px;
  margin-top: 36px;
}

#favorite { height: 44px; }

#search { margin-bottom: 12px; }

#tools {
  background-color: #e9ecef;
  list-style-type: none;
  padding: 15px 0 0 0;
  position: fixed;
  top: 55px;
  z-index: 100;
}

.hide { display: none; }

.list-group {
  width: 100%;
}

.list-group-item {
  padding-bottom: 15px;
  padding-top: 15px;
}

.list-group-item a {
  display: inline-block;
  padding-top: 18px;
  float: right;
  margin-top: -25px;
}

.past-event h6, .past-event h6 small, .past-event h6 a, .past-event p {
  color: #ccc !important;
}

.star {
  font-size: 1.75em;
}

.star:after {
  content: "\2605";
}

.star.empty:after, #favorite.empty {
  content: "\2606";
}
