a:hover {
  text-decoration: none !important;
}

body {
  padding-top: 5rem;
}

main.container {
  margin-left: auto !important;
  margin-right: auto !important;
  padding-left: 0 !important;
  padding-right: 0 !important;
  width: 100%;
  max-width: 960px;
}

nav { 
  max-width: 960px;
}

p {
  color: #222;
  font-size: 90%;
  font-weight: 200;
 }

small { font-size: 70%; }

#empty-state-container {
  margin-top: 85px;
  width: 50%;
  min-width: 128px;
  max-width: 256px;
}

#events {
  margin-bottom: 10px;
  margin-top: -15px;
}

#search {
  font-size: 13px;
  height: 30px;
}

#tools {
  background-color: #e9ecef;
  border-bottom: 2px solid rgba(0,0,0,0.2);
  list-style-type: none;
  padding: 5px 0;
  position: fixed;
  top: 55px;
  z-index: 100;
  max-width: 960px;
}

#tools a {
  padding: 5px 15px;
  border-bottom: 2px solid transparent;
}

#tools a.active {
  border-bottom-color: #007bff;
}

.big-star:after {
  background-color: #e9ecef;
  border: 2px solid #343a40;
  border-radius: 8px;
  color: #007bff;
  content: "\2606";
  font-size: 5em;
  padding: 15px 30px;
}

.hide { display: none; }

.list-group {
  width: 100%;
}

.list-group-item {
  padding-bottom: 15px;
  padding-top: 15px;
}

.list-group-item a {
  display: inline-block;
  padding-top: 18px;
  float: right;
  margin-top: -25px;
}

.past-event h6, .past-event h6 small, .past-event h6 a, .past-event p {
  color: #ccc !important;
}

.permalink:after {
  font-family: "EmojiSymbols", "Segoe UI Symbol";
  font-size: 2.75em;
  content: "\2709\FE0E";
  position: relative;
  top: -11px;
}

.star {
  font-size: 1.45em;
}

.star:after {
  content: "\2605";
}

.star.empty:after, #favorite.empty {
  content: "\2606";
}
.permalink, .star {
  padding: 0 10px;
}
