<p *ngIf="events.length == 0" class="alert"><i>{{ noEventsMessage }}</i></p>
<ul>
  <li *ngFor="let event of events" [ngClass]="{disabled: isInThePast(event.endTime)}">
    <article>

      <section>
        <a routerLink="events/{{ event.id }}">
          <h4>{{ event.title }} </h4>
          <p>{{ event.location }} {{ event.startTime | date:dateFormat }}</p>
        </a>
        <a (click)="favoriteEvent(event.id)" [ngClass]="{star: true, favorite: isFavorite(event.id)}"></a>
      </section>

    </article>
  </li>
  <li id="current">test</li>
</ul>
<app-nav></app-nav>