a.star {
    background-image: url('../../assets/fav_empty.png');
    background-position: left center;
    background-repeat: no-repeat;
    background-size: 26px 25px;
    display: inline;    
    display: inline-block;
    float: right;
    padding: 0 14px 24px 14px;
}
a.star.favorite { background-image: url('../../assets/fav_full.png'); }

ul { margin-bottom: 55px; }

ul, li {padding: 11px 0; }
li { 
    border-bottom: 1px solid #000; 
    padding: 11px 2%;
}
li:first-child { 
    border-top: 1px solid #000;
}

dl > dd, dl > dt {
    display: inline;
    display: inline-block;
}

dl > dt {
    font-weight: bold;
}

section { padding: 11px 0;}

.alert { text-align: center; }