a, input { font-family: helvetica, arial, courier, sans-serif; }

a.star { 
    background-image: url('../../assets/dark_full.png');
    top: 7px; 
}

a.star.favorite { background-image: url('../../assets/fav_full.png'); }

form, input { width: 100%; }

nav {
    background-color: #fff;
    border-top: 1px solid #999;
    height: 33px;
    padding: 11px 0;
    position: fixed;
    bottom: 0px;
    width: 100%;
}

li { 
    display: inline;    
    display: inline-block;
    margin: 0;    
    padding: 0;
    text-align: center;         
    width: 10%;
}

li:first-child { width: 85%; }

ul {
    margin: 0;
    padding: 0 2%;
    width: 100%;
}
