a, input { font-family: helvetica, arial, courier, sans-serif; }

a.star, a.star.favorite { 
    position: relative;
    top: 7px;
}

form, input { width: 100%; }

nav {
    background-color: #fff;
    border-top: 1px solid #000;
    height: 33px;
    padding: 11px 0;
    position: fixed;
    bottom: 0px;
    width: 100%;
}

li { 
    display: inline;    
    display: inline-block;
    margin: 0;    
    padding: 0;
    text-align: center;         
    width: 10%;
}

li:first-child { width: 85%; }

ul {
    margin: 0;
    padding: 0 2%;
    width: 100%;
}
