<article>
    <section>
        <h4>{{ event.title }} </h4>
        <p>{{ event.location }} {{ event.startTime | date:dateFormat }}</p>
    </section>
    
    <section> 
      <dl>
        <dt>Host:</dt>
        <dd>{{ event.host }}</dd>
        <br>          
        <dt>Feature:</dt>
        <dd>{{ event.feature }}</dd>
        <br>
        <dt>Duration:</dt>
        <dd>{{ (event.endTime - event.startTime) / 1000 / 60 }} minutes</dd>
      </dl>
    </section>

    <section>{{ event.description }}</section>

  </article>