a:hover {
  text-decoration: none !important;
}

body {
  padding-top: 5rem;
}

main.container {
  margin-left: 0 !important;
  margin-right: 0 !important;
  padding-left: 0 !important;
  padding-right: 0 !important;
  width: 100%;
  max-width: 960px;
}

.favorite-toggle {
  font-size: 3em;
}

.list-group {
  width: 100%;
}

.list-group-item a {
  display: inline-block;
  padding-top: 0.5em;
}

.list-group-item a:first-child { width: 100%; }
.list-group-item a:nth-child(2) {
  float: right;
  margin-top: -2.25em;
  width: 8%;
}
